<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">ebay</a>
	<button class="navbar-toggler" type="button" 
	                               data-toggle="collapse" data-target="#navbarSupportedContent" 
	                               aria-controls="navbarSupportedContent" 
								   aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav ml-auto">
	  <% if current_user %>
		  <%= link_to "My Listings", my_listings_products_path, class: 'btn btn-primary', style:"margin: 0.5rem;" if current_account %>
			<%= link_to "Edit profile", edit_account_path(current_account),  class: 'btn btn-primary', style:"margin: 0.5rem;" if current_account %> 
  		<%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-primary', style:"margin: 0.5rem;" %> 
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path,  class: 'btn btn-primary', style:"margin: 0.5rem;"   %> 
	    <%= link_to "Log in",  new_user_session_path,      class: 'btn btn-primary', style:"margin: 0.5rem;"  %>
	  <% end %>
	  </ul>
	</div>
</nav>